<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="form-group">
            <button  class="btn btn-primary btn-block form-control" style="background-color: #2B7A78 ;margin-top: 12px" (click)="userDataservice.setData(user.uid,user.email,user.displayName,(user.photoURL) ?  user.photoURL : '/assets/dummy-user.png', dateuser, 'dash yan02')"> set data </button>
          </div>
          <div class="form-group">
            <label  class="schriffe">name</label>
            <input name="name" class="form-control" id="name" placeholder="names"  type="name" #name required>
          </div>
          <div class="form-group">
            <button  class="btn btn-primary btn-block form-control" style="background-color: #2B7A78 ;margin-top: 12px" (click)="userDataservice.uptate('name',name.value)"> uptate name </button>
          </div>
          <div class="form-group">
            <button  class="btn btn-primary btn-block form-control" style="background-color: #2B7A78 ;margin-top: 12px" (click)="userDataservice.uptatename(name.value, user) "> uptate name with user service </button>
          </div>
          <div class="form-group">
            <button  class="btn btn-primary btn-block form-control" style="background-color: #2B7A78 ;margin-top: 12px" (click)="getuserdaten() "> get data </button>
          </div>
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="#"
                   alt="{{user.displayName}}">
              <div class="media-body">
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>User name: <strong>{{authService.localusername}} 2</strong></p>
                <p>NAme: <strong>{{userDataservice.getname(user)}} 2</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>birthday: <strong>{{user.dayOfBirth}}</strong></p>
                <p>birthdaytest: <strong>{{dateuser}}</strong></p>
                <p>Email Verified: <strong> userdaten :{{userdaten.emailVerified}}</strong></p>
              </div>
            </div>

          </div>

        </div>
      </div>
    </main>


  </div>
</div>
