<div class="modal-header">
  <h4 class="modal-title">Fahrt Buchen</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <p *ngIf="!isAllert">sind sie sicher dass sie buchen wollen?</p>
  <p *ngIf="isAllert">
    <ngb-alert
      #selfClosingAlert
      *ngIf="successMessage"
      type="success"
      (closed)="successMessage = ''"
      >{{ successMessage }}
    </ngb-alert>
  </p>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn btn-success" (click)="buchen()">
    Buchen
  </button>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Abbrechen
  </button>
</div>
