<div class="test">
  <h4 style="text-align: center; padding-top: 30px"> Willkommen bei My Cargonaut </h4>
  <div class="container">
      <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="box-part text-center">
                <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                <div class="title">
                  <h4>Free</h4>
                </div>
                <div class="text">
                  <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="box-part text-center">
                <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                <div class="title">
                  <h4>Schnell</h4>
                </div>
                <div class="text">
                  <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="box-part text-center">
                <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                <div class="title">
                  <h4>Günstig</h4>
                </div>
                <div class="text">
                  <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>
              </div>
            </div>
      </div>
      <div class="row">
        <h5 style="padding-top: 20px; text-align: center">Worauf wartest du noch?? Fahren sie mit uns
        <a [routerLink]="['login']" routerLinkActive="active" class="nav-link navgGosse" (click)="navigue"><span><i class="fa fa-sign-in" aria-hidden="true"></i> LOGIN</span></a>
        </h5>
      </div>

  </div>

</div>
