.buchen{
  margin: 17px 0 0 20px;
  background-color: #def2f1;
  border-radius: 5px;
  padding-top: 5px;
}
.container{
  margin: 20px 0px 0px 0px;

}

.detail{
  height: 25px;
}
.rowDetail{
  padding-bottom: 0px;
}
.cardForm{
  border-radius: 20px;

}

.cardpadding{
  padding-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  .btn1{
    margin-top: 12px;
  }
}

