
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label >Abfahrtort</label>
        <input type="text" class="form-control"  placeholder="Example input">
      </div>
      <div class="form-group">
        <label >Ankuftort</label>
        <input type="text" class="form-control" placeholder="Another input">
      </div>
      <div class="form-group">
        <label >Autos</label>
        <input type="text" class="form-control" placeholder="Example input">
      </div>
      <div class="form-group">
        <label >Wann</label>
        <input type="text" class="form-control"  placeholder="Another input">
      </div>
      <div class="form-group">
        <label >Sitzplatz</label>
        <input type="number" class="form-control" placeholder="Another input">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>

</ng-template>
<p></p>


<!--pre>{{ closeResult }}</pre-->

<div class="container" >
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">neue Fahrt</button>
<div class="row" >
  <div class="col-sm-6 fahrtList" *ngFor="let test of fahrtList" >
    <div class="card">
      <div class="card-body">
        <div>
          <div class="row">
            <div class="col-3">
              <h6>{{test.abfahrt}}</h6>
              <h6>{{test.wo}}</h6>
              <p class="name">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="50">
              </p>
              <h6 >{{test.name}}</h6>
              <span><i class="fa-solid fa-star stern"></i><i class="fa-solid fa-star stern"></i><i class="fa-solid fa-star stern"></i><i class="fa-solid fa-star stern"></i></span>

            </div>
            <div class="col-2">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="col-4">
              <h6>{{test.wohin}}</h6>
              <h6>{{test.ankunft}}</h6>
             <br/>
                <div class="card">
                  <div class="card-body">
                    <h6>Sitzplatzt: 3 </h6>
                    <h6>Autos: Audi</h6>
                    <h6>Tag: {{date |  date: 'dd-MM-yyyy'}}</h6>
                  </div>
                </div>
              </div>
            <div class="col-3">
              <h5 class="amount">25$</h5>
              <button type="button" class="btn buchen">buchen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

