.fahrtList{
padding: 15px 15px 30px 15px;
}
.card{
 border-radius: 17px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
.head{
 margin: 20px 20px 20px 20px;
}

.element{
  padding: 10px 0 10px 0px;
}
.embed-responsive .card-img-top {

  border-radius: 50%;
}
.buchen{
  margin: 17px 0 0 20px;
  background-color: #def2f1;
  border-radius: 5px;
  padding-top: 5px;
}
.amount{
  margin-left: 20px;
  padding-bottom: 30px;
}

.name{
  padding-top: 30px;
}

.detail{
  background-color: #def2f1;
  border-radius: 5px;
  margin-top: 12px;
}

.btn{
  background-color: #DEF2F1 !important;
  color: black;
}

@media only screen and (min-width: 400px) {
  .container{
    padding-bottom: 245px;
  }
}
