
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label >Abfahrtort</label>
        <input type="text" class="form-control"  placeholder="Example input">
      </div>
      <div class="form-group">
        <label >Ankuftort</label>
        <input type="text" class="form-control" placeholder="Another input">
      </div>
      <div class="form-group">
        <label >Autos</label>
        <input type="text" class="form-control" placeholder="Example input">
      </div>
      <div class="form-group">
        <label >Wann</label>
        <input type="text" class="form-control"  placeholder="Another input">
      </div>
      <div class="form-group">
        <label >Sitzplatz</label>
        <input type="number" class="form-control" placeholder="Another input">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>

</ng-template>
<p></p>


<!--pre>{{ closeResult }}</pre-->

<div class="container" >
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">neue Fahrt</button>
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-lg" (click)="newRide()">Neue Fahrt</button>
    </div>
  </div>
<div class="row" >
  <ng-container *ngIf="fahrten">
  <div class="col-sm-6 fahrtList" *ngFor="let fahrt of fahrten" >
    <div class="card">
      <div class="card-body">
        <div>
          <div class="row">
            <div class="col-3">
              <h6>{{fahrt.wo}}</h6>
              <h6 *ngIf="isDate(fahrt.abfahrt) else abfahrtNoPipe">{{fahrt.abfahrt |  date: 'medium'}}</h6>
              <ng-template #abfahrtNoPipe>
                <h6>{{fahrt.abfahrt}}</h6>
              </ng-template>
              <p class="name">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="50">
              </p>
              <h6 >{{fahrt.name}}</h6>
              <span><i class="fa-solid fa-star stern"></i><i class="fa-solid fa-star stern"></i><i class="fa-solid fa-star stern"></i><i class="fa-solid fa-star stern"></i></span>

            </div>
            <div class="col-2">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="col-4">
              <h6>{{fahrt.wohin}}</h6>
              <h6 *ngIf="isDate(fahrt.ankunft) else ankunftNoPipe">{{fahrt.ankunft |  date: 'medium'}}</h6>
              <ng-template #ankunftNoPipe>
                <h6>{{fahrt.ankunft}}</h6>
              </ng-template>
             <br/>
                <div class="card" *ngIf="fahrt.car">
                  <div class="card-body">
                    <h6>Plätze: {{fahrt.car.seats}}</h6>
                    <h6>Auto: {{fahrt.car.brand}} {{fahrt.car.model}} {{fahrt.car.type}}</h6>
                    <h6>Kofferraum: {{fahrt.car.storageInKg}} KG</h6>
                  </div>
                </div>
              </div>
            <div class="col-3">
              <h5 class="amount">25$</h5>
              <button type="button" class="btn buchen">buchen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-container>
</div>
</div>

