<p class="head">Fahrt List</p>

<div class="container" >
<div class="row" >
  <div class="col-sm-6 fahrtList" *ngFor="let test of test" >
    <div class="card">
      <div class="card-body">
        <div>
          <div class="row">
            <div class="col-3">
              <h6>{{test.abfahrt}}</h6>
              <h6>{{test.wo}}</h6>
              <h6 class="name">{{test.name}}</h6>
              <span><i class="fa-solid fa-star stern"></i><i class="fa-solid fa-star stern"></i><i class="fa-solid fa-star stern"></i><i class="fa-solid fa-star stern"></i></span>

            </div>
            <div class="col-2">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="col-3">
              <h6>{{test.wohin}}</h6>
              <h6>{{test.ankunft}}</h6>
              <p>
                <button type="button" class="btn detail" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseExample">
                  Detail
                </button>
              </p>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                <div class="card">
                  <div class="card-body">
                    <p>Sitzplatzt: 3 </p>
                    <p>Autos: Audi</p>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <h5 class="amount">25$</h5>
              <button type="button" class="btn buchen">buchen</button>
            </div>
          </div>
        </div>


        <!--h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a-->
      </div>
    </div>
    <!--div class="card">
      <div class="d-flex justify-content-between px-md-1">
        <div class="align-content-around">
          <span>{{test.abfahrt}}</span>
          <p>{{test.wo}}</p>
        </div>
        <div class="align-content-center">
          <p>jsjjsjj</p>
          <i class="far fa-comment-alt text-warning fa-3x"></i>
        </div>
        <div class="text-end">
          <span>{{test.ankunft}}</span>
          <p class="mb-0">{{test.wohin}}</p>
        </div>
      </div>
    </div-->
  </div>
</div>
</div>

