
<div class="container">
  <br><br><br><br><br><br>
  <div class="row justify-content-center">
    <aside class="col-md-6">
      <div class="card">
        <article class="card-body">
          <a href="" class="float-right btn btn-outline-info" >Registrieren</a>
          <h4 class="card-title mb-4 mt-1">Anmelden</h4>
          <form>
            <div class="form-group">
              <label>Email</label>
              <input name="Email" class="form-control" id="Email" placeholder="Email Address"  type="email" #Email required>
            </div>
            <div class="form-group">
              <a class="float-right" routerLink="/forgot-password">Forgot?</a>
              <label>password</label>
              <input class="form-control" type="password" id="password" placeholder="Password" #password>
            </div>

            <div class="form-group">
              <button  class="btn btn-primary btn-block" style="background-color: #2B7A78" (click)="authService.SignIn(Email.value, password.value)"> Login  </button>
            </div>
          </form>
          <div class="form-group">
            <button  class="btn btn-primary btn-block" style="background-color: #2B7A78" (click)="authService.GoogleAuth()"> Login  with Google </button>

          </div>
          <div class="redirectToLogin">
            <span>forgot<span class="redirect" routerLink="/forgot-password">Log In</span></span>
          </div>
        </article>
      </div>

    </aside>

  </div>

</div>

