
<div class="container" style="margin-bottom: 280px">
  <br>
  <div class="row justify-content-center">
    <aside class="col-md-6">
      <div class="card">
        <article class="card-body">
          <h4 class="float-center card-title mb-4 mt-1 schriffe " style="text-align: center">Registrieren</h4>
          <form>
            <div class="form-group">
              <label class="schriffe">Name</label>
              <input class="form-control"  type="text" #disName style="margin-bottom: 8px ">
            </div>
            <div class="form-group">
              <label>Username</label>
              <input class="form-control"  type="text" #userName >
            </div>
            <div class="form-group">
              <label>Geburststag</label>
              <input  class="form-control"  type="date" id="date" #usergb>
            </div>
            <div class="form-group">
              <label class="schriffe">Email</label>
              <input class="form-control" type="email" #userEmail required style="margin-bottom: 8px">
            </div>
            <div class="form-group">
              <label class="schriffe">Password</label>
              <input class="form-control" type="password" #userPwd required style="margin-bottom: 8px">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block form-control" style="background-color: #2B7A78; margin-top: 30px" (click)="registrieren(disName.value,userName.value,usergb.value, userEmail.value, userPwd.value)">Registrieren</button>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block form-control" style="background-color: #2B7A78 ;margin-top: 12px" (click)="authService.GoogleAuth()">Mit Google einlogen</button>
            </div>
          </form>

        </article>
      </div>
    </aside>
  </div>

</div>

