
<div class="container">
  <br>
  <div class="row justify-content-center">
    <aside class="col-md-6">
      <div class="card">
        <article class="card-body">
          <h4 class="float-center card-title mb-4 mt-1 " style="text-align: center">Registrieren</h4>
          <form>
            <div class="form-group">
              <label>Nachname</label>
              <input class="form-control"  type="text" required>
            </div>
            <div class="form-group">
              <label>Vorname</label>
              <input class="form-control"  type="text" required>
            </div>
            <div class="form-group">
              <label>Username</label>
              <input class="form-control"  type="text" required>
            </div>
            <div class="form-group">
              <label>Geburststag</label>
              <input  class="form-control"  type="date" required>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" type="email" required>
            </div>
            <div class="form-group">
              <label>password</label>
              <input class="form-control" type="password">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" style="background-color: #2B7A78">Registrieren</button>
            </div>
          </form>
        </article>
      </div>

    </aside>

  </div>

</div>

