<nav class="navbar cardListFahrt" style="background-color: #3aafa9">
  <div class="container-fluid">
    <p>
      <img src="../../../assets/Export/0.75x/car_android_MyCargonautldpi.png" width="150px" style="padding-top: 12px"/>
      <a class="navbar-brand">My Cargonaut</a>
    </p>


    <form class="d-flex input-group w-auto">
        <a routerLink="profil" routerLinkActive="active" class="nav-link" style="color: black">Profil</a>
        <a routerLink="fahrtList" routerLinkActive="active" class="nav-link" style="color: black">Fahrlist</a>
        <a routerLink="login" routerLinkActive="active" class="nav-link" style="color: black">Login</a>
        <a routerLink="registrieren" routerLinkActive="active" class="nav-link" style="color: black">Registrieren</a>

    </form>
  </div>
</nav>
