<nav class="navbar cardListFahrt" style="background-color: #3aafa9">
  <div class="container-fluid">
    <p>
      <img src="../../../assets/Export/0.75x/car_android_MyCargonautldpi.png" width="150px" style="padding-top: 12px"/>
    </p>

    <form class="d-flex input-group w-auto">
        <a routerLink="homepage" routerLinkActive="active" class="nav-link navgGosse"><span>HOME</span></a>
        <a routerLink="fahrtList" routerLinkActive="active" class="nav-link navgGosse"><span>FAHRTEN</span></a>
        <a routerLink="fahrtAnfrage" routerLinkActive="active" class="nav-link navgGosse"><span>ANFRAGEN</span></a>
        <a routerLink="profil" routerLinkActive="active" class="nav-link navgGosse" ><span><i class="fa fa-user" aria-hidden="true"></i> PROFIL</span></a>
        <a routerLink="login" routerLinkActive="active" class="nav-link navgGosse" ><span><i class="fa fa-sign-in" aria-hidden="true"></i> LOGIN</span></a>
        <a routerLink="registrieren" routerLinkActive="active" class="nav-link navgGosse"><span><i class="fa fa-sign-in" aria-hidden="true"></i> REGISTRIEREN</span></a>

    </form>
  </div>
</nav>
